@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #292929;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem;
    color: #292929;
    transition: color 0.15s ease-in-out
}

.nav-link:hover {
    color: #525252
}

.nav-link strong {
    margin-left: 0.5rem;
}

.navbar-brand {
    font-size: 24px;
    color: #000;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.flex-column {
    flex-direction: column;
  }
  
.flex-md-row {
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.justify-center {
  justify-content: center;
}

.svg-inline--fa {
  width: 1.25em;
  height: 1.25em;
}

.navbar-toggle {
  border: none;
  background: transparent;
}