@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #292929;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem;
    color: #292929;
    transition: color 0.15s ease-in-out
}

.nav-link:hover {
    color: #525252
}

.nav-link strong {
    margin-left: 0.5rem;
}

.navbar-brand {
    font-size: 24px;
    color: #000;
}

.navbar-toggle {
  border: none;
  background: transparent;
}